<template>
  <v-app>
    <div class="d-flex justify-center flex-column my-4 text-center px-4">

      <v-dialog
        ref="dialog"
        v-model="modal2"
        :return-value.sync="time"
        persistent
        width="290px"
      >
        <v-time-picker
          v-if="modal2"
          v-model="time"
          full-width
        >
          <v-spacer></v-spacer>
          <v-btn text color="primary" @click="modal2 = false">Cancel</v-btn>
          <v-btn text color="primary" @click="$refs.dialog.save(time),addNewJob(time)">OK</v-btn>
        </v-time-picker>
      </v-dialog>

      <h1>Jobs</h1>
      <v-text-field
        v-model="job"
        label="Add New Job"
        @keyup.enter="modal2 = true"
      ></v-text-field>
      <div class="d-flex flex-row justify-space-around">
        <v-btn
          color="green"
          elevation="2"
          text
          @click="modal2 = true"
        >
          add new
          <v-icon right>
            mdi-plus
          </v-icon>
        </v-btn>
        <v-btn
          color="red"
          elevation="2"
          text
          @click="jobList=[],setList([])"
        >
          clear all
          <v-icon right>
            mdi-close
          </v-icon>
        </v-btn>
      </div>
      <div class="job-list py-4">
        <div class="job-item text-left">
          <v-list-item v-for="(item,index) in jobList" :key="index" class="px-0 mt-3">
            <template>
              <v-card class="d-flex align-center px-2" width="100%" v-if="!item.isEdit">
                <v-list-item-action>
                  <v-checkbox
                    v-model="item.done"
                    color="primary"
                    @change="setList(jobList)"
                  ></v-checkbox>
                </v-list-item-action>
                <v-list-item-content>
                  <v-list-item-title :class="{'text-decoration-line-through':item.done}" class="text-capitalize">
                    {{item.job}}
                  </v-list-item-title>
                  <v-list-item-subtitle>
                    {{item.time}}
                  </v-list-item-subtitle>
                </v-list-item-content>
                <v-list-item-action class="d-flex flex-row">
                  <v-btn icon @click="item.isEdit = true">
                    <v-icon color="green">
                      mdi-pen
                    </v-icon>
                  </v-btn>
                  <v-btn icon @click="jobList.splice(index, 1),setList(jobList)">
                    <v-icon color="red">
                      mdi-close
                    </v-icon>
                  </v-btn>
                </v-list-item-action>
              </v-card>
              <v-card class="d-flex align-center px-2" width="100%" v-if="item.isEdit">
                <v-text-field
                  v-model="item.job"
                  label="Edit Job"
                  class="mr-2"
                  @keyup.enter="item.isEdit = false , setList(jobList)"
                ></v-text-field>
                <v-text-field
                  v-model="item.time"
                  label="Edit Job"
                  class="mr-2"
                  @keyup.enter="item.isEdit = false , setList(jobList)"
                ></v-text-field>
                <v-btn
                  color="success"
                  elevation="1"
                  outlined
                  text
                  x-small
                  class="mt-2"
                  @click="item.isEdit = false , setList(jobList)"
                >save
                </v-btn>
              </v-card>
            </template>
          </v-list-item>
        </div>
      </div>
    </div>

  </v-app>
</template>

<script>

export default {
  name: 'App',
  data: () => ({
    job: '',
    isEdit: false,
    jobList: [],
    time: null,
    menu2: false,
    modal2: false,
    index: null
  }),
  mounted () {
    if (localStorage.jobList) {
      this.jobList = JSON.parse(localStorage.getItem('jobList'))
    }
  },
  methods: {
    setList (list) {
      localStorage.setItem('jobList', JSON.stringify(list))
    },
    addNewJob (time) {
      this.jobList.push({
        job: this.job,
        time: time,
        done: false,
        isEdit: false
      })
      this.setList(this.jobList)
      this.job = ''
    }
  }
}
</script>
